/config/params-local.php
/config/db.php
/config/medium.php
/node/config.js
/node/server.js
/web/media/js/notifications.js
# phpstorm project files
.idea
# nodejs restarter tool files
nohup.out
nodejs-server.out
restart-nodejs.bash

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
/runtime

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

*.swp
/composer.bat
