#modalAddContact, #modalAddUser, #modalAddSipChannel, #modalAddAttractionChannel {
    left: auto;
    overflow: visible;
}
.call-modal{
    padding: 10px;
    background: white;
    min-height: 300px;
    margin-top: 20%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
#incommingCall{
    display: flex;
    flex-direction: row;
}
#contact-call-wrap{
    display: flex;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
#contact-call{
    font-size: 22px;
    cursor: pointer;
}
#reject-wrap{
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 1000000;
}
#wrapper.modal{
    width: 400px;
}
.incomming-buttons{
    display: inline-flex;
    margin: 10px;
}

#modalAddContactToTag {
    overflow: scroll;
}

#modalAddContactToTag .modal-content {
    width: 1000px;
}

@media (min-width: 992px) {
    #modalAddContact.modal-lg, #modalAddUser.modal-lg {
        width: 1200px;
    }

    #modalAddContact.modal-md, #modalAddUser.modal-md {
        width: 900px;
    }

    #modalAddContact .modal-md, #modalAddContact .modal-lg, #modalAddUser .modal-md, #modalAddUser .modal-lg {
        max-width: 100%;
    }
}

#object-table_wrapper .cs-wrapper {
    width: 100%;
}

#object-table_wrapper table.dataTable thead th, #object-table_wrapper table.dataTable thead td {
    padding: 0.7% 1%;
}

#object-table_wrapper div.cs-skin-slide {
    width: 100%;
}

#object-table_wrapper .cs-select span {
    text-overflow: ellipsis;
}

@media screen and (max-width: 1750px) {
    #object-table_wrapper .cs-wrapper {
        width: 140px;
    }

    #object-table .search-input-text {
        width: 140px;
    }
}

@media screen and (max-width: 1600px) {
    #object-table_wrapper .cs-wrapper {
        width: 130px;
    }

    #object-table .search-input-text {
        width: 130px;
    }

    #object-table_wrapper .cs-select > span::after {
        right: .3em;
    }

    #object-table_wrapper div.cs-skin-slide > span {
        padding: 4% 10% 4% 6%;
        line-height: 1.9em;
    }
}

@media screen and (max-width: 1500px) {
    #object-table_wrapper .cs-wrapper {
        width: 120px;
    }

    #object-table .search-input-text {
        width: 120px;
    }
}

@media screen and (max-width: 1350px) {
    #object-table_wrapper .cs-wrapper {
        width: 100px;
    }

    #object-table_wrapper div.cs-skin-slide > span {
        line-height: 2.2em;
    }
}

@media screen and (max-width: 1200px) {
    #object-table_wrapper .cs-wrapper {
        width: 60px;
    }

    #object-table_wrapper div.cs-skin-slide > span {
        padding: 4% 25% 4% 6%;
        line-height: 2.5em;
    }
}

#receivables-table .dropdown-menu.paid-dropdown > li > a > span {
    margin-left: 30px;
}

.column_filter_modal {
    position: absolute;
    background: #E0E0E0;
    top: 23px;
    left: 95px;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.dropdown form {
    /*min-width: 400px;*/
    padding: 5px 10px;
}

.dropdown .table {
    min-width: 290px;
}

.dropdown .dropdown-menu {
    background: #E0E0E0;
}

#modalAddContact .contact-action .attitude label {
    margin-left: 16px;
}

.select2-search input {
    background: none !important;
}

.reports-table tbody tr:last-child {
    font-weight: 700;
}

table.reports-table tr td {
    vertical-align: middle;
}

.reports-table .tags_block {
    width: 500px;
}

.reports-table .tags_block .label.tag {
    margin: 3px;
    cursor: pointer;
    display: block;
    float: left;
}

.tooltip.in {
    opacity: 0.7;
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
    padding: 10px;
}

.audio-call-block {
    display:none;
}
.acb-section {
    margin-top : 5%;
    margin-bottom : 5%;
}
.acb-status {
    padding: 1%;
    font-size: x-large;
}
.acb-duration {
    padding: 2%;
    font-size: larger;
    border-radius: 15px;
    background: #dcdcdc57;
}
.audio-call-messages {
    display: none;
}

div.cs-skin-slide.cs-active{
    z-index: 1050;
}

.vp-modal {
    background: rgba(0,0,0,40%);
}

.modal-open .vp-modal {
    overflow: auto;
}

.vp-modal .modal-header {
    padding-bottom: 25px;
}

.vp-modal .modal-title {
    font-weight: 700;
}

.vp-modal .modal-dialog {
    width: 1024px;
    max-width: 100%;
    min-width: 600px;
}
.vp-wrap{
    display: flex;
    width: auto;
}
.vp-doctor{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}
.vp-form{
    flex: 0 0 300px;
    width: 300px;
}
.vp-cabinet{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.vp-calendar {
    font-size: 14px;
    overflow: auto;
    display: flex;
}

.vp-column{
    width: 130px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.vp-column-head,
.vp-calendar th {
    word-break: break-word;
    text-align: center;
    vertical-align: middle;
    height: 46px;
    font-size: 14px;
    font-weight: 700;
}

.vp-date {
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.vp-time {
    padding: 1px;
}

.vp-time time {
    font-size: 20px;
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    margin: 1px;
}

.vp-time:not(.disable) time:hover,
.vp-time.active time {
    background-color: #10cfbd;
    color: #fff;
}

.vp-time.disable time {
    background-color: #f55753;
    color: #fff;
    cursor: not-allowed;
}

.vp-time.empty time {
    border-color: transparent;
    cursor: default;
    color: transparent;
    pointer-events: none;
    user-select: none;
}