#modalAddContact, #modalAddUser, #modalAddSipChannel, #modalAddAttractionChannel {
    left: auto;
    overflow: visible;
}

#modalAddContactToTag {
    overflow: scroll;
}

#modalAddContactToTag .modal-content {
    width: 1000px;
}

#modalAddSipChannel .sip-channel-data {
    width: 500px;
}

#modalAddAttractionChannel .attraction-channel-data {
    width: 500px;
}

@media (min-width: 992px) {
    #modalAddContact.modal-lg, #modalAddUser.modal-lg {
        width: 1200px;
    }

    #modalAddContact.modal-md, #modalAddUser.modal-md {
        width: 900px;
    }

    #modalAddContact .modal-md, #modalAddContact .modal-lg, #modalAddUser .modal-md, #modalAddUser .modal-lg {
        max-width: 100%;
    }
}

#object-table_wrapper .cs-wrapper {
    width: 100%;
}

#object-table_wrapper table.dataTable thead th, #object-table_wrapper table.dataTable thead td {
    padding: 0.7% 1%;
}

#object-table_wrapper div.cs-skin-slide {
    width: 100%;
}

#object-table_wrapper .cs-select span {
    text-overflow: ellipsis;
}

@media screen and (max-width: 1750px) {
    #object-table_wrapper .cs-wrapper {
        width: 140px;
    }

    #object-table .search-input-text {
        width: 140px;
    }
}

@media screen and (max-width: 1600px) {
    #object-table_wrapper .cs-wrapper {
        width: 130px;
    }

    #object-table .search-input-text {
        width: 130px;
    }

    #object-table_wrapper .cs-select > span::after {
        right: .3em;
    }

    #object-table_wrapper div.cs-skin-slide > span {
        padding: 4% 10% 4% 6%;
        line-height: 1.9em;
    }
}

@media screen and (max-width: 1500px) {
    #object-table_wrapper .cs-wrapper {
        width: 120px;
    }

    #object-table .search-input-text {
        width: 120px;
    }
}

@media screen and (max-width: 1350px) {
    #object-table_wrapper .cs-wrapper {
        width: 100px;
    }

    #object-table_wrapper div.cs-skin-slide > span {
        line-height: 2.2em;
    }
}

@media screen and (max-width: 1200px) {
    #object-table_wrapper .cs-wrapper {
        width: 60px;
    }

    #object-table_wrapper div.cs-skin-slide > span {
        padding: 4% 25% 4% 6%;
        line-height: 2.5em;
    }
}

#receivables-table .dropdown-menu.paid-dropdown > li > a > span {
    margin-left: 30px;
}

.column_filter_modal {
    position: absolute;
    background: #E0E0E0;
    top: 23px;
    left: 95px;
    border-radius: 5px;
    padding: 10px;
}

.dropdown form {
    /*min-width: 400px;*/
    padding: 5px 10px;
}

.dropdown .table {
    min-width: 290px;
}

.dropdown .dropdown-menu {
    background: #E0E0E0;
}

#modalAddContact .contact-action .attitude label {
    margin-left: 16px;
}

.select2-search input {
    background: none !important;
}

.reports-table tbody tr:last-child {
    font-weight: 700;
}

table.reports-table tr td {
    vertical-align: middle;
}

.reports-table .tags_block {
    width: 500px;
}

.reports-table .tags_block .label.tag {
    margin: 3px;
    cursor: pointer;
    display: block;
    float: left;
}

.tooltip.in {
    opacity: 0.7;
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
    padding: 10px;
}